<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement.name %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>

<!-- <a href="https://api.whatsapp.com/send?text=<%= root_url %>users/sign_up?t=bugv&i=<%= @movement.id %>">קישור להרשמה וואטסאפ</a>
<a href="https://api.whatsapp.com/send?text=<%= root_url %>users/sign_up?t=tzur&i=<%= @movement.id %>&n=y">קישור לשליחה לרכזות אזור שיפתחו אזורים וואטסאפ</a> -->

<a href="<%= root_url %>users/sign_up?t=bugv&i=<%= @movement.id %>">קישור להרשמה</a>
<a href="<%= root_url %>users/sign_up?t=tzur&i=<%= @movement.id %>&n=y">קישור לשליחה לרכזות אזור שיפתחו אזורים</a>

<button id="sign_up_<%= @movement.id %>" class=" bg-blue-500 text-white" type="button" name="button">הרשמה לרכזות אזור</button>

<script type="text/javascript">
$("#sign_up_<%= @movement.id %>").click(function(event) {
	var url = "<%= root_url %>users/sign_up?t=bugv&i=<%= @movement.id %>"
	if (navigator.share) {
		navigator.share({
			title: 'פנקסי',
			text: 'בואו תירשמו לפנקסי 2020',
			url: url,
		})
	}
	else {
			/* Get the text field */
			$("body").append("<input id='temp' value='" + url + "'>")
			var copyText = document.getElementById("temp");

			/* Select the text field */
			copyText.select();
			copyText.setSelectionRange(0, 99999); /*For mobile devices*/

			/* Copy the text inside the text field */
			document.execCommand("copy");

			/* Alert the copied text */
			alert("הקישור הועתק!");
			$("#temp").remove()
}
</script>
