<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @branch.score %>
</p>

<p>
  <strong>Region:</strong>
  <%= @branch.region_id %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>

<!-- <a href="whatsapp://send?text=<%= request.original_url %>?q=bacon">Share on WhatsApp</a> -->

<a href="<%= root_url %>users/sign_up?t=bugv&i=<%= @branch.id %>">Share not on WhatsApp</a>
