
<div class="flex w-full justify-center mt-10">
	<%= image_tag "logo-type.png", size:"300" %>
</div>


<% content_for :devise_form do %>
<div class="flex items-center justify-end">
	<div class="lang hidden mx-1 px-1 py-2 bg-gray-300 rounded-lg z-50">
		<div class="flex">
			<span class=" mx-1"><%= link_to new_user_registration_path(locale: "he") do %>
				<%= image_tag "israel.png", size:"25" %>
				<% end %>
			</span>
			<span class=" mx-1"><%= link_to new_user_registration_path(locale: "en") do %>
				<%= image_tag "usa.webp", size:"25" %>
				<% end %>
			</span>
			<span class=" mx-1"><%= link_to new_user_registration_path(locale: "ru") do %>
				<%= image_tag "russia.webp", size:"25" %>
				<% end %>
			</span>
		</div>

	</div>
	<button class="open-lang py-2" type="button" name="button"> <%= image_tag "globe.svg", size: "25" %></button>
</div>
  <h2 class="heading text-4xl font-bold pt-4 mb-8"><%= I18n.t("user.sign_up") %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :username, class:"label text-lg" %>
      <%= f.text_field :username, autofocus: true, class: "input", required: true %>
    </div>

    <div class="mb-6">
      <%= f.text_field :role, value: "user", class: "hidden" %>
    </div>

    <div class="mb-6">
      <%= f.label :name, class: "label text-lg" %>
      <%= f.text_field :name, class: "input", required: true %>
    </div>

    <div class="mb-6">
      <div class="flex">
        <%= f.label :password, class: "label text-lg" %>
        <% if @minimum_password_length %>
        <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input", required: true %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "label text-lg" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", required: true %>
    </div>

    <% unless params[:t].present? %>
      <div class="mb-6">
        <%= f.label :family, class:"label text-lg" do %>
          <%= I18n.t("user.new.family") %>
        <% end %>
        <%= text_field_tag(:family, nil, class:"input", required: true, placeholder: "למשל: משפחת כהן") %>
      </div>
    <% end %>

    <% if !params[:t].present? || params[:t] == "h" %>
      <div class="mb-6">
        <%= f.label :house, class:"label text-lg" do %>
          <%= I18n.t("user.new.house") %>
        <% end %>
        <%= text_field_tag(:house, nil, class: "input", required: true, placeholder: "למשל: הבית של דודה שושי") %>
      </div>
      <%= hidden_field_tag(:family_id, params[:f]) if params[:f].present? %>
    <% end %>

    <% if params[:t] = "u" %>
      <%= hidden_field_tag(:house_id, params[:h]) if params[:h].present? %>
    <% end %>

    <%= hidden_field_tag(:new, params[:n]) if params[:n].present? %>
    <%= hidden_field_tag(:locale, params[:locale]) if params[:locale].present? %>

    <div class="mb-6">
      <%= f.submit I18n.t("user.sign_up"), class: "py-3 rounded-lg font-bold text-3xl w-full	sign-up-buttons text-black mb-5" %>
    </div>

    <hr class="border mt-6" />
  <% end %>
  <%= render "devise/shared/links" %>
<% end %>
<%= render "devise/shared/form_wrap" %>
<script type="text/javascript">
	$(".open-lang").click(function(event) {
		$(".lang").toggle("fast")
	});

		if ("<%= params[:locale].present? %>" == "true" && "<%= params[:locale] %>" != "he") {
			$("*").addClass('ltr')
		}else {
			$("*").addClass('rtl')
		}
</script>
