<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @house.score %>
</p>

<p>
  <strong>Family:</strong>
  <%= @house.family_id %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>

<!-- <a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=ecumv&i=<%= @house.id %>">קישור להרשמת מדריך</a> -->
<!-- <a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=jbhl&i=<%= @house.id %>">קישור להרשמת חניך</a> -->

<a href="<%= root_url %>users/sign_up?t=ecumv&i=<%= @house.id %>">קישור להרשמת מדריך</a>
<a href="<%= root_url %>users/sign_up?t=jbhl&i=<%= @house.id %>">קישור להרשמת חניך</a>
