<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @house.score %>
</p>

<p>
  <strong>Family:</strong>
  <%= @house.family_id %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>

<!-- <a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=ecumv&i=<%= @house.id %>">קישור להרשמת מדריך</a> -->
<!-- <a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=jbhl&i=<%= @house.id %>">קישור להרשמת חניך</a> -->
<br>
<a href="<%= root_url %>users/sign_up">new game/family</a> <br>
<a href="<%= root_url %>users/sign_up?t=h&f=1">new house in existing family</a><br>
<a href="<%= root_url %>users/sign_up?t=u&h=1">new user in existing house</a><br>
<a href="<%= root_url %>add_user_to_house?h=1">existing user in existing house</a><br>
<!-- <a href="<%= root_url %>users/sign_up?t=h&f=<%# @family.id %>">new house in existing family</a>
<a href="<%= root_url %>users/sign_up?t=u&h=<%# @house.id %>">new user in existing house</a>
<a href="<%= root_url %>add_user_to_house?h=<%# @house.id %>">new user in existing house</a> -->
