
<%= simple_form_for(@task, defaults: { input_html: {class: ""}}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% difficulties = {
      easy: "קל - 10",
      medium: "בינוני - 50",
      hard: "קשה - 100",
      impossible: "כמעט בלתי אפשרי - 300"
  }%>
  <% publicities = {
    personal: "פרטית",
    general: "ציבורית"
    } %>

    <% ages = {
      toddler: "קטנטנים",
      small: "ילדים קטנים",
      big: "ילדים גדולים",
      grownup: "מבוגרים"
      } %>

  <div class="form-inputs mb-16">
    <%= f.input :name, label: "שם המשימה", input_html: { class: "border block "}, label_html: {class: "text-xl"}, placeholder: 'להתקשר לסבתא' %>
    <%# f.input :score %>
    <%= f.input :description,	label: "תיאור", input_html: {class: "border block  w-full h-64"}, label_html: {class: "text-xl"}, placeholder: 'להתקשר לסבתא ולהגיד לה כמה שאני אוהב אותה' %>
    <%= f.input :difficulty, 	label: "רמת קושי", as: :radio_buttons,
                collection: difficulties, label_method: :second, value_method: :first, input_html: {class: ""}, label_html: {class: "text-xl block"}, required: true%>
    <%= f.input :age, 	label: "גילאים", as: :radio_buttons,
                collection: ages, label_method: :second, value_method: :first, input_html: {class: "m-2"}, label_html: {class: "text-xl block"} , required: true%>
    <% if  params[:house_id].present? || params[:family_id].present? %>
      <%= f.input :publicity, 	label: "האם המשימה היא פרטית לקבוצה או ציבורית עבור כולםן?", collection: Task.publicities.keys,
      selected: "personal", wrapper_html: {class: "hidden"} %>
    <% else %>
      <%= f.input :publicity, 	label: "האם המשימה היא פרטית לקבוצה או ציבורית עבור כולםן?", as: :radio_buttons,
      collection: publicities, label_method: :second, value_method: :first, input_html: {class: "m-2"} %>
    <% end %>

  </div>

  <%= hidden_field_tag(:house_id, params[:house_id]) if params[:house_id] %>
  <%= hidden_field_tag(:family_id, params[:family_id]) if params[:family_id] %>
  <%= hidden_field_tag(:suggested_id, current_user.id) %>

  <div class="form-actions fixed bottom-0 w-full h-16 flex">
		<%= link_to "/choose_task?house_id=#{params[:house_id]}", class:"w-1/3 bg-gray-300 justify-center flex items-center text-xl" do  %>
			<%= image_tag "back.svg", size:"25", class: "rotate-if-not-he" %>
		<% end %>
	<!-- <a class="" href=""><%= image_tag "check.svg", size:"25" %></a> -->
		<button class=" justify-center flex items-center w-2/3 bg-cta text-black next-active text-xl ">
			<%= f.button :submit, type: :image, src: asset_url("check.svg"), class:"w-16" %>
		</button>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  if ("<%= current_user.role == "Kid" %>") {
    $('.task_publicity').append("<br><span class='font-normal text-sm'>משימה ציבורית עוברת לאישור, וניתנת לשימוש בהמשך. משימה פרטית עוברת לאישור המדריכה ואז משוייכת לכל החניכים, אך שווה עד 50 נקודות</span>")
  }
  else {
    $('.task_publicity').append("<br><span class='font-normal text-sm'>משימה ציבורית עוברת לאישור, וניתנת לשימוש בהמשך. משימה פרטית ניתנת לשימוש מיידי ומשויכת לקבוצה, אך שווה עד 50 נקודות</span>")
  }
	$(":radio").parent().addClass('mt-6 block p-1 rounded-lg text-center')
	$(":radio").parents("span").addClass('')
	$(":radio").addClass('m-2 h-6 w-6')
	$("label").each(function(index, el) {

		switch ($(this).attr('for')) {
			case "task_difficulty_easy":
				$(this).addClass('bg-green-400 font-bold')
				break;
			case "task_difficulty_medium":
				$(this).addClass('bg-yellow-400 font-bold')
				break;
			case "task_difficulty_hard":
				$(this).addClass('bg-red-400 font-bold')
				break;
			case "task_difficulty_impossible":
				$(this).addClass('bg-red-600 text-white  font-bold')
				break;

		}
		if ($(this).children('input').attr('name') == "task[age]") {
			$(this).addClass('bg-gray-400  font-bold')

		}


	});
	if ("<%= current_user.lang %>" != "he") {
		$(".rotate-if-not-he").addClass('rotate-180')
	}
});
</script>
