
<%= simple_form_for(@task, defaults: { input_html: {class: ""}}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% difficulties = {
      easy: "קל - 10",
      medium: "בינוני - 50",
      hard: "קשה - 100",
      impossible: "כמעט בלתי אפשרי - 300"
  }%>
  <% publicities = {
    personal: "פרטית",
    general: "ציבורית"
    } %>

    <% ages = {
      toddler: "קטנטנים",
      small: "ילדים קטנים",
      big: "ילדים גדולים",
      grownup: "מבוגרים"
      } %>

  <div class="form-inputs">
    <%= f.input :name, label: "שם המשימה", input_html: { class: "border block m-2"} %>
    <%# f.input :score %>
    <%= f.input :description,	label: "תיאור", input_html: {class: "border block m-2"} %>
    <%= f.input :difficulty, 	label: "רמת קושי", as: :radio_buttons,
                collection: difficulties, label_method: :second, value_method: :first, input_html: {class: "m-2"}%>
    <%= f.input :age, 	label: "גילאים", as: :radio_buttons,
                collection: ages, label_method: :second, value_method: :first, input_html: {class: "m-2"}%>
    <% if  params[:house_id].present? %>
      <%= f.input :publicity, 	label: "האם המשימה היא פרטית לקבוצה או ציבורית עבור כולםן?", collection: Task.publicities.keys,
      selected: "personal", wrapper_html: {class: "hidden"} %>
    <% else %>
      <%= f.input :publicity, 	label: "האם המשימה היא פרטית לקבוצה או ציבורית עבור כולםן?", as: :radio_buttons,
      collection: publicities, label_method: :second, value_method: :first, input_html: {class: "m-2"} %>
    <% end %>

  </div>

  <%= hidden_field_tag(:house_id, params[:house_id]) if params[:house_id] %>
  <%= hidden_field_tag(:suggested_id, current_user.id) %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  if ("<%= current_user.role == "Kid" %>") {
    $('.task_publicity').append("<br><span class='font-normal text-sm'>משימה ציבורית עוברת לאישור, וניתנת לשימוש בהמשך. משימה פרטית עוברת לאישור המדריכה ואז משוייכת לכל החניכים, אך שווה עד 50 נקודות</span>")
  }
  else {
    $('.task_publicity').append("<br><span class='font-normal text-sm'>משימה ציבורית עוברת לאישור, וניתנת לשימוש בהמשך. משימה פרטית ניתנת לשימוש מיידי ומשויכת לקבוצה, אך שווה עד 50 נקודות</span>")
  }
});
</script>
