

<% difficulties = {
    easy: "קל",
    medium: "בינוני",
    hard: "קשה",
    impossible: "כמעט בלתי אפשרי"
}%>

<% publicities = {
  personal: "פרטי",
  general: "ציבורי"
  } %>

  <% ages = {
    toddler: "קטנטנים",
    small: "ילדים קטנים",
    big: "ילדים גדולים",
    grownup: "מבוגרים"
    } %>

<table id="tasks_table">
  <thead>
    <tr>
      <th>כותרת</th>
      <th>רמת קושי</th>
      <th>גילאים</th>
      <th>פירוט</th>

        <th>פרטיות</th>
				<th colspan="3"> פעולות</th>

    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= difficulties[task.difficulty.to_sym] %></td>
        <td><%= ages[task.age.to_sym] %></td>
        <td><%= task.description %></td>

          <td><%= publicities[task.publicity.to_sym] %></td>
					<td>
						<%= link_to  edit_task_path(task) do %>
						<%= image_tag "edit.svg", size:"25" %>
						<% end %>
						<%= link_to "#{image_tag "trash.svg", size:'25'}".html_safe, task, method: :delete, data: { confirm: 'למחוק?' } %>
					</td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'משימה חדשה', new_task_path if current_user.admin? %>

<script type="text/javascript">
	$(document).ready( function () {

	  $('#tasks_table').DataTable({
	    responsive: true,
			 "order": [[ 1, "asc" ]],
			 "paging": false,
	    language: {
	      url: "/he_he.lang",
	      searchPlaceholder: "חיפוש חופשי",
	      },
	    },
	  );
	} );
</script>
