<p id="notice"><%= notice %></p>

<% difficulties = {
    easy: "קל",
    medium: "בינוני",
    hard: "קשה",
    impossible: "כמעט בלתי אפשרי"
}%>

<h1>Tasks</h1>

<table id="tasks_table">
  <thead>
    <tr>
      <th>כותרת</th>
      <th>רמת קושי</th>
      <th>פירוט</th>
      <% if current_user.role == "Movement" %>
        <th>פרטיות</th>
        <th>סטטוס</th>
        <th>עריכה</th>
        <th>מחיקה</th>
      <% end %>
      <th>להוסיף</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= difficulties[task.difficulty.to_sym] %></td>
        <td><%= task.description %></td>
        <% if current_user.role == "Movement" %>
          <td><%= task.publicity %></td>
          <td><%= task.status %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to assign_task_path(group: current_user.groups.last, task: task.id) do %>
					Assign Task
				<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div class="table-responsive">

</div> -->

<br>

<%= link_to 'New Task', new_task_path if current_user.role == "Admin" %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.js"></script>

<script type="text/javascript">
$(document).ready( function () {
  $('#tasks_table').DataTable({
    responsive: true,
    language: {
      url: "/he_he.lang",
      searchPlaceholder: "חיפוש חופשי",
      },
    },
  );
} );
</script>
