

<% difficulties = {
    easy: "קל",
    medium: "בינוני",
    hard: "קשה",
    impossible: "כמעט בלתי אפשרי"
}%>

<% publicities = {
  personal: "פרטי",
  general: "ציבורי"
  } %>

  <% ages = {
    gutz: "גו''צ",
    tzabar: "צבר",
    goob: "גו''ב ומעלה"
    } %>

<table id="tasks_table">
  <thead>
    <tr>
      <th>כותרת</th>
      <th>רמת קושי</th>
      <th>גילאים</th>
      <th>פירוט</th>
      <% if %w(Admin Movement).include?(current_user.role) %>
				<th></th>
        <th>פרטיות</th>
				<th>להוסיף</th>
				<th></th>
				<% else %>
				<th>להוסיף</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= difficulties[task.difficulty.to_sym] %></td>
        <td><%= ages[task.age.to_sym] %></td>
        <td><%= task.description %></td>
        <% if current_user.admin? %>
          <td><%= publicities[task.publicity.to_sym] %></td>
          <td>
						<%= link_to "<i class='gg-push-chevron-down-o m-auto'></i>".html_safe, assign_task_path(house: current_user.houses.last, task: task.id) , data: { confirm: 'מוכנים לעוד משימה?' }%>
					</td>
					<td>
						<%= link_to "<i class='gg-pen move-pen-edit m-auto lg:ml-24 ml-16 text-gray-700'></i>".html_safe, edit_task_path(task)%>
						<%= link_to "<i class='gg-trash m-auto text-red-700'></i>".html_safe, task, method: :delete, data: { confirm: 'למחוק?' } %>
					</td>
				<% else %>
					<td><%= link_to "<i class='gg-push-chevron-down-o m-auto'></i>".html_safe, assign_task_path(house: current_user.houses.last, task: task.id) ,class: "mb-10", data: { confirm: 'מוכנים לעוד משימה?' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'משימה חדשה', new_task_path if current_user.role == "Admin" %>

<script type="text/javascript">
	$(document).ready( function () {

	  $('#tasks_table').DataTable({
	    responsive: true,
			 "order": [[ 1, "asc" ]],
			 "paging": false,
	    language: {
	      url: "/he_he.lang",
	      searchPlaceholder: "חיפוש חופשי",
	      },
	    },
	  );
	} );
</script>
