<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table id="tasks_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Description</th>
      <th>Publicity</th>
      <th>Status</th>
      <th>show</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.score %></td>
        <td><%= task.description %></td>
        <td><%= task.publicity %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script type="text/javascript">
$(document).ready( function () {
  $('#tasks_table').DataTable();
} );
</script>
