<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @family.score %>
</p>

<p>
  <strong>Region:</strong>
  <%= @family.region_id %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>

<!-- <a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=ei&i=<%= @family.id %>">קישור להרשמה וואטסאפ</a>
<a href="whatsapp://send?text=<%= root_url %>users/sign_up?t=ecumv&i=<%= @family.id %>&n=y">קישור לשליחה למדריכות שיפתחו קבוצות וואטסאפ</a> -->

<a href="<%= root_url %>users/sign_up?t=ei&i=<%= @family.id %>">קישור להרשמה</a>
<a href="<%= root_url %>users/sign_up?t=ecumv&i=<%= @family.id %>&n=y">קישור לשליחה למדריכות שיפתחו קבוצות</a>
