<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @group.score %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @group.branch_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<a href="api.whatsapp.com/send?text=<%= root_url %>users/sign_up?t=ecumv&i=<%= @group.id %>">קישור להרשמת מדריך</a>
<a href="api.whatsapp.com/send?text=<%= root_url %>users/sign_up?t=jbhl&i=<%= @group.id %>">קישור להרשמת חניך</a>

<a href="<%= root_url %>users/sign_up?t=ecumv&i=<%= @group.id %>">קישור להרשמת מדריך</a>
<a href="<%= root_url %>users/sign_up?t=jbhl&i=<%= @group.id %>">קישור להרשמת חניך</a>
