<% if current_user.role == "Branch" %>
	<% @branches.each do |branch| %>
		<button  class="text-md sign_up_branch" type="button" name="button">קישור להרשמת מדריכות מ<%= branch.name %></button>
	<% end %>
<% end %>
<% @groups.each_with_index do |group, index|%>
	<h1 class="text-2xl flex justify-between">
		<span class="mx-3"><%= group.name %></span>
		<!-- <a href="<%= root_url %>users/sign_up?t=jbhl&i=<%= group.id %>"></a> -->
		<br>
		<span class="mx-3 font-bold"><%= group.score %></span>
		<div class="float-left w-1/3 flex justify-end ml-6">
			<button id="button-<%= group.id %>" value="<%= group.id %>" class="ml-10a text-white toggle-modal w-12 h-12 rounded-full bg-red-400 self-end move-down flex justify-center" type="button" name="button"><i class="gg-add-task"></i></button>
		</div>
	</h1>
	<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5">
			<h1 class="text-xl">משימות לאישור</h1>
			<% @kids_with_unapproved_tasks.each do |task| %>
				<% task[1].each do |kid_id| %>
					<% kid = User.find(kid_id) %>
				<% if group.kids.include?(kid) %>
					<%= render "task", { task: Task.find(task[0]), status: "to_approve", kid: kid_id, group: group } %>
				<% end %>
				<% end %>
			<% end %>
			<h1 class="text-xl mt-5">חניכים וחניכות</h1>
		<% group.kids.each do |kid| %>
			<div class="container w-full py-1 shadow my-2 rounded-lg bg-blue-100">
				<div class="w-full flex justify-between">
					<span class="name mx-3 text-lg"><%= kid.name %></span>
					<span class="mx-3"><%= kid.score %> נקודות</span>
					<span class="mx-3 open_kids_tasks"><i class="gg-push-chevron-down" ></i></span>
				</div>
				<div class="mx-3 kids_tasks hidden mt-2">
					<strong>משימות</strong>
					<ul>
						<% kid.tasks.each do |task| %>
							<li><%= task.name %></li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
		<button  class="text-md sign_up_group" id="sign_up_<%= group.id %>" value="<%= group.id %>" type="button" name="button">קישור להרשמת חניך</button>
	</div>

	<div id="modal-<%= group.id %>" class="modal-bg hidden w-screen absolute bg-gray-900 top-0 left-0 mt-24 z-40">
		<div class=" bg-gray-100">
			<div class="flex justify-between">
				<h1 class="text-xl m-3">משימות תנועתיות</h1>
				<i id="close-<%= group.id %>" value="<%= group.id %>" class="gg-close-o m-3 toggle-modal"></i>
			</div>
			<div class="rounded-lg shadow px-4 py-4">
				<% @general_tasks.each do |task| %>
				<%= render "task", { task: task, status: "general", kid: 234567, group: group} %>
				<% end %>
				<button class="open-modal bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
					<%= link_to "משימה חדשה", new_task_path %>
				</button>
			</div>
		</div>
	</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#button-<%= group.id %>").click(function(event) {
			$("#modal-" + $(this).val()).show("slow")
			var group = $(this).val()
		});
		$("#close-<%= group.id %>").click(function(event) {
			$(".modal-bg").hide("slow")
		});


	});
</script>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	$(".open_kids_tasks").click(function(event) {
		$(this).parents(".container").children('.kids_tasks').toggle("fast")
	});

	$(".open-description").click(function(event) {
		$(this).parents(".container").children('.description').toggle();
		return false;
	});

	$(".sign_up_group").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=jbhl&i=" + $(this).val()
		share_sign_up(url)
	});
	function share_sign_up(url) {
		/* Get the text field */
		$("body").append("<input id='temp' value='" + url + "'>")
		var copyText = document.getElementById("temp");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		alert("הקישור הועתק!");
		$("#temp").remove()
	}
})

</script>
