

<div class="px-2 lg:px-10 mb-16 lg:flex lg:flex-col game-content">


	<nav class="flex flex-col justify-center">

		<div class="flex flex-wrap justify-between w-full self-end font-bold h-12 mt-2">
			<div class="mx-2  flex flex-col justify-center">
				<span class="star-normal w-16 h-16 flex items-center justify-center"><%= @house.score %></span>

			</div>
			<div class="mx-2 flex">

				<div class="flex w-24 z-50">
					<div class="absolute top-0 items-center justify-center ">
						<div class="menu hidden   mt-12 px-5 pt-5 pb-5 bg-white rounded-lg rounded-t-none z-50">
							<ol>
								<span class="text-lg"><%= I18n.t("home.change_home") %></span>
								<% current_user.houses.each do |house| %>
								<li class="mx-1 border-cta rounded-full px-2 my-2"><%= link_to house.name, root_path(house: house.id)  %></li>
								<% end %>
								<li class="flex justify-center">
									<button class="show-instructions bg-cta  rounded-full w-full p-2 my-2 mx-1 font-bold" type="button" name="button"><%= I18n.t("home.show_tutorial") %></button>
								</li>
								<hr>
								<%= link_to destroy_user_session_path, method: :delete, class:"bg-gray-400 flex mt-2 rounded-lg p-2 flex justify-between" do%>
								<%= image_tag "sign-out.svg", size:"25", alt: "Sign out" %>
								<span class="ml-5"><%= I18n.t("home.exit") %></span>
								<% end %>
								<%= error_btn %>
							</ol>
						</div>

					</div>

				</div>

					<div class="flex py-2 items-center">
						<span class=" mx-1"><%= link_to set_locale_path(locale: "he") do %>
							<%= image_tag "israel.png", size:"25", alt: "Hebrew" %>
							<% end %>
						</span>
						<span class=" mx-1"><%= link_to set_locale_path(locale: "en") do %>
							<%= image_tag "usa.webp", size:"25", alt: "English" %>
							<% end %>
						</span>
						<!-- <span class=" mx-1"><%# link_to set_locale_path(locale: "ru") do %>
						<%# image_tag "russia.webp", size:"25", alt: "Russian" %>
						<%# end %>
					</span> -->
				</div>
				<button class="open-menu flex items-center py-2 aborder rounded text-grey sborder-gray-500 hover:text-gray-600 ahover:border-gray-600">
					<%= image_tag "user-circle.svg", size:"25", alt: "User" %>
				</button>

			</div>
		</div>
		<div class="text-shmutz-blue text-3xl w-full flex justify-center items-center flex-col font-bold">
			<span> <%= I18n.t("home.hello") %> <%= current_user.name %>!</span>
			<span class="text-xl"><%= @house.name %></span>

		</div>


	</nav>


	<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5 mt-10 lg:w-1/2 lg:self-center">
		<h1 class="text-xl text-shmutz-blue font-bold flex justify-between items-center">
			<div class="open-our-tasks flex ">
				<span class="chevron-our rotate-chev flex items-center"><i class="gg-push-chevron-down"></i></i> </span>
				<span><%= I18n.t("home.our_challenges") %></span>
			</div>

		</h1>
		<div class="our-tasks hiddena flex flex-wrap justify-center">
			<% @house.in_progress_tasks.each do |task| %>
			<%= render "task", { task: task, status: "in_progress", kid: current_user.id, house: @house.id } %>
			<% end %>
		</div>
		<h1 class="text-xl text-shmutz-blue font-bold flex justify-between items-center">
			<div class="open-done-tasks flex ">
				<span class="chevron-done flex items-center rotate-chev"><i class="gg-push-chevron-down"></i></i> </span>
				<span><%= I18n.t("home.finished_challenges") %></span>
			</div>
		</h1>
		<div class="done-tasks flex flex-wrap justify-center">
			<% @house.done_tasks.each do |task| %>
			<%= render "task", { task: task, status: "done", kid: current_user.id, house: @house.id } %>
			<% end %>

		</div>


	</div>


<div class="modal-bg hidden w-screen  fixed top-0 left-0 bg-black-opacity-50  z-40 h-screen close-modal">
	<div class="w-full h-full flex items-center close-modal justify-center">
		<div class="modal-body rounded-lg  h-3/4 bg-white w-full mx-3	hidden lg:w-1/2">
			<div class=" bg-gray-100 modal-header h-full  rounded-lg">
				<div class="flex justify-between">
					<h1 class="text-2xl m-3"><%= I18n.t("home.invite") %></h1>
					<i class="gg-close-o m-3 close-modal"></i>
				</div>
				<hr>
				<div class="modal-content ">
						<div class="house-sign-ups">
							<button  class="text-lg new_user_to_house flex justify-between w-full items-center px-3 text-right py-3" value="<%= @house.id %>" type="button" name="button"><%= I18n.t("home.new_users_to_my_home") %><%= @house.name %> <%= image_tag "copy.svg", size:"25", alt: "copy" %></button>
							<button  class="text-lg existing_user_to_house flex justify-between w-full items-center px-3 text-right py-3"   value="<%= @house.id %>" type="button" name="button"><%= I18n.t("home.old_users_to_my_home") %><%= @house.name %> <%= image_tag "copy.svg", size:"25", alt: "copy" %></button>
							<button  class="text-lg new_house_to_family flex justify-between w-full items-center px-3 text-right py-3" value="<%= @family.id %>" type="button" name="button"><%= I18n.t("home.new_house_to_my_family") %><%= @family.name %> <%= image_tag "copy.svg", size:"25", alt: "copy" %></button>
							<button  class="text-lg new-family flex justify-between w-full items-center px-3 text-right py-3"   value="new-family" type="button" name="button"><%= I18n.t("home.share") %><%= image_tag "copy.svg", size:"25", alt: "copy" %></button>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>

</div>
<div class="text-black text-2xl bg-new-task shadow-lg fixed bottom-0  flex flex-col justify-center mb-24 text-center px-2 rounded-lg game-content">
	<% finish_str = "15 Apr 2020" %>
	<% finish_date = finish_str.to_date %>
	<% days = finish_date.day - Date.current.day %>
	<span class="font-bold text-3xl">
		<%= I18n.t("home.countdown", days: days) %>
	</span>
	<span class="m-0 leading-none">
		<%= I18n.t("home.days") %>
	</span>
	<span class="m-0 leading-none">
		<%= I18n.t("home.left") %>
	</span>
</div>
<div class="w-screen flex justify-center game-content">
	<footer class="w-full h-24 flex justify-between items-end fixed bottom-0 lg:w-1/2 lg:self-center">
		<button class="open-modal invite-users  bg-cta w-16 h-16 text-white rounded-full flex justify-center items-center m-3 shadow-lg">
			<%= image_tag "user-plus.svg", size: "35", alt: "Invite users" %>
		</button>
		<%= link_to '/choose_house' do  %>
		<div	 class=" bg-cta w-20 h-20 text-white rounded-full flex justify-center items-center m-3 shadow-lg">
			<%= image_tag "plus.svg", size: "45", alt: "Add challenge" %>
		</div>
		<% end %>
		<%= link_to '/leaders' do  %>
		<button class="leaders bg-cta w-16 h-16 text-white rounded-full flex justify-center items-center m-3 shadow-lg">
			<%= image_tag "trophy.svg", size: "35", alt: "Leaderboard" %>
		</button>
		<% end %>
	</footer>

</div>


  <!-- true -->
	<div id="instructions" class="modal-bg w-screen absolute top-0 left-0 bg-white  z-40 ah-screen pb-16">
		<div class="w-full h-full flex items-center justify-center">
			<div class="modal-body rounded-lga  h-full bg-white w-full	hiddena lg:w-1/2">

				<div class="modal-content flex flex-col items-center h-full justify-between">
					<% if current_user.locale == "he" || current_user.locale == nil %>
						<%= image_tag "logo-type.png", size:"300", class:"mt-10" %>
					<% else %>
					<%= image_tag "en-logo.png", size:"300", class:"mt-10" %>

					<% end %>
					<div class="mt-10">

											<div class="flex py-2 items-center">
												<span class=" mx-1"><%= link_to set_locale_path(locale: "he") do %>
													<%= image_tag "israel.png", size:"25", alt: "Hebrew" %>
													<% end %>
												</span>
												<span class=" mx-1"><%= link_to set_locale_path(locale: "en") do %>
													<%= image_tag "usa.webp", size:"25", alt: "English" %>
													<% end %>
												</span>
												<!-- <span class=" mx-1"><%# link_to set_locale_path(locale: "ru") do %>
												<%# image_tag "russia.webp", size:"25", alt: "Russian" %>
												<%# end %>
											</span> -->
										</div>
						<div class="text-center text-2xl font-bold   mb-10 text-blue bg-white rounded-lg ">

							<div class="  rounded-lg py-2 px-2 mb-5">
								<%= I18n.t("user.explanation-1") %>
							</div>
							<div class="explanation">
								<div class="  rounded-lg py-2 px-2 mb-5">
									<%= I18n.t("user.explanation-2") %>
								</div>
								<div class="  rounded-lg py-2 px-2 mb-5">
									<%= I18n.t("user.explanation-3") %>

								</div>
								<div class="  rounded-lg py-2 px-2 mb-5">
									<%= I18n.t("user.good-luck") %>
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-col w-full justify-center items-center">
						<button id="show_tutorial" class="bg-cta h-20 my-2 w-11/12 rounded-lg text-2xl font-bold" type="button" name="button"><%= I18n.t("home.show_tutorial") %></button>
						<button class="start-playing border-cta h-20 my-2 w-11/12 rounded-lg text-2xl " type="button" name="button"><%= I18n.t("home.start_playing") %></button>
					</div>
				</div>
				<div id="tutorial" class="h-full w-full hidden bg-white ">
					<div class="flex h-full w-full items-center justify-center flex-col mb-3 mt-3">
						<% if current_user.locale == "he" || current_user.locale == nil %>
							<%= image_tag "tutorial-he.svg"%>
						<% else %>
							<%= image_tag "tutorial.svg"	%>
						<% end %>
					</div>
					<div class="flex  items-center justify-center">
						<button class="start-playing bg-cta h-20 my-2 w-11/12 rounded-lg text-2xl font-bold" type="button" name="button"><%= I18n.t("home.start_playing") %></button>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="fixed bottom-0 w-full h-10 flex justify-center ">
			<div class="scroll-down bg-cta rounded-full h-10 w-10  flex justify-center items-center">
				<i class="gg-push-chevron-down exp-chev big"></i>

			</div>
		</div> -->
	</div>


<%# if @house.tasks.blank? %>
<%# end %>
<script type="text/javascript">
$(document).ready(function() {
	if ("<%= @house.tasks.present? %>" == "true") {
		$("#instructions").hide()
		$(".game-content").show()

	}else {
		$("#instructions").show()
		$(".game-content").hide()
	}
	$(".show-instructions").click(function(event) {
		$(".game-content").hide("fast")
		$("#instructions").show("fast")
		/* Act on the event */
	});
	$("#show_tutorial").click(function(event) {
		$(".modal-content").hide("fast")
		$("#tutorial").show("fast")
		$(document).scrollTop(0)

	});
	$(".start-playing").click(function(event) {
		$("#instructions").hide("fast")
		$(".game-content").show("fast")
	});
	$(".open-menu").click(function(event) {
		$(".menu").toggle("fast")
		event.stopPropagation(); // This is the preferred method.
		return false;        // This should not be used unless you do not want
	});
	$(document).click(function() {
		$(".menu").hide("fast")
	})
	$(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50) {
        $(".fixed-nav").addClass('shadow-lg');
    }
		else if(height < 50) {
        $(".fixed-nav").removeClass('shadow-lg');
    }

	});


	$(".open-modal").click(function(event) {

		$(".modal-bg").show()
		$(".modal-body").show("slow")
	});
	$(".close-modal").click(function(event) {
		if (event.target == this){
			$(".modal-body").hide('slow', function() {
				$(".modal-bg").hide()

			});
		}
	});

	$(".close-task-description").click(function(event) {
		if (event.target == this){
			$(".description").hide("fast")
			$(this).parents("div").children('.open-task-description').removeClass('task-shadow')
		}
	});
	$(".open_users_tasks").click(function(event) {
		$(this).parents(".container").children('.users_tasks').toggle("fast")
	});
	$(".open-house-sign-ups").click(function(event) {
		$(this).parents(".sign-ups-div").children('.house-sign-ups').toggle("fast")
	});

	$(".open-description").click(function(event) {
		$(this).parents(".container").children('.description').toggle();
	});

	$(".open-our-tasks").click(function(event) {
		$(".our-tasks").toggle("fast");
		$(".chevron-our").toggleClass('rotate-chev');
	});
	$(".open-done-tasks").click(function(event) {
		$(".done-tasks").toggle("fast");
		$(".chevron-done").toggleClass('rotate-chev');
	});
	// new user in existing house
	$(".new_user_to_house").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=u&h=" + $(this).val() + "&locale=" + "<%= current_user.locale %>"
		share_sign_up(url)
	});
	// new house in existing family
	$(".new_house_to_family").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=h&f=" + $(this).val() + "&locale=" + "<%= current_user.locale %>"
		share_sign_up(url)
	});
	// new
	// $(".sign_up_another_house").click(function(event) {
	// 	var url = "<%= root_url %>users/sign_up?t=ecumv&i=" + $(this).val()
	// 	share_sign_up(url)
	// });

	// existing user to existing house
	$(".existing_user_to_house").click(function(event) {
		var url = "<%= root_url %>add_user_to_house?h=" + $(this).val()
		share_sign_up(url)
	});
	$(".new-family").click(function(event) {
		var url = "<%= root_url %>users/sign_up?locale=" + "<%= current_user.locale %>"
		share_sign_up(url)
	});


	function share_sign_up(url) {
		/* Get the text field */
		$("body").append("<input id='temp' value='" + url + "'>")
		var copyText = document.getElementById("temp");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		alert("הקישור הועתק!");
		$("#temp").remove()
	}


			$('.description').hide();
			$(".open").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.close').show();
				$(this).parents(".container").children('.description').show("fast");
			});
			$(".close").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.open').show();
				$(this).parents(".container").children('.description').hide("fast");
			});

			$(".open-task-description").click(function(event) {
				if ($(this).parents(".task").children('.description').is(":visible")) {
					$(this).parents(".task").children('.description').hide("fast")
					$(this).toggleClass('task-shadow')
				}
				else {
					$(".description").hide()
					$(".open-task-description").removeClass('task-shadow')
					$(this).toggleClass('task-shadow')

					$(this).parents(".task").children('.description').toggle();
					$(this).parents(".task").children('.description').children('.description-body').hide();
					$(this).parents(".task").children('.description').children('.description-body').show("slow");

				}
			});

			$(".open-lang").click(function(event) {
				$(".lang").toggle("fast")
			});
})

</script>
