

<div class="px-2">
	<nav class="flex flex-col justify-center">

		<div class="flex flex-wrap justify-between w-full self-end brand h-12 mt-2">
			<!-- <%= @house.name %> -->
			<div class="mx-2  flex flex-col justify-center">
				<span class="star-normal w-16 h-16 flex items-center justify-center"><%= @house.score %></span>
				<!-- <span class=" text-center"></span> -->
			</div>
			<div class="mx-2 flex">
				<button class="open-menu flex items-center px-3 py-2 aborder rounded text-grey sborder-gray-500 hover:text-gray-600 ahover:border-gray-600">
					<%= image_tag "user-circle.svg", size:"25" %>
				</button>
				<div class="flex items-center justify-center">
					<button class="open-lang" type="button" name="button"> <%= image_tag "globe.svg", size: "25" %></button>
					<div class="lang hidden absolute top-0 left-0 mt-12 px-1 pt-5 pb-5 bg-gray-300 rounded-lg z-50">
						<div class="flex">
							<span class=" mx-1"><%= link_to set_locale_path(locale: "he") do %>
								<%= image_tag "israel.png", size:"25" %>
								<% end %>
							</span>
							<span class=" mx-1"><%= link_to set_locale_path(locale: "en") do %>
								<%= image_tag "usa.webp", size:"25" %>
								<% end %>
							</span>
							<span class=" mx-1"><%= link_to set_locale_path(locale: "ru") do %>
								<%= image_tag "russia.webp", size:"25" %>
								<% end %>
							</span>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="text-shmutz-blue text-3xl w-full flex justify-center items-center flex-col font-bold">
			<span> <%= I18n.t("home.hello") %> <%= current_user.name %>!</span>
			<span class="text-xl"><%= @house.name %></span>
		</div>
		<div class="menu hidden float-left absolute top-0 left-0 mt-12 px-5 pt-5 pb-5 bg-white rounded-lg rounded-t-none z-50">
			<ol>
				<span class="text-lg"><%= I18n.t("home.change_home") %></span>
				<% current_user.houses.each do |house| %>
					<li class="mx-1 border-cta rounded-full px-2 my-2"><%= link_to house.name, root_path(house: house.id)  %></li>
				<% end %>
				<hr>
				<%= link_to destroy_user_session_path, method: :delete, class:"bg-gray-400 flex mt-2 rounded-lg p-2 flex justify-between" do%>
				<%= image_tag "sign-out.svg", size:"25" %>
				<span class="ml-5"><%= I18n.t("home.exit") %></span>
				<% end %>
			</ol>
		</div>

	</nav>


	<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5 mt-10">
		<h1 class="text-xl text-shmutz-blue brand flex justify-between items-center">
			<div class="open-our-tasks flex ">
				<span class="chevron-our rotate-chev flex items-center"><i class="gg-push-chevron-down"></i></i> </span>
				<span><%= I18n.t("home.our_challenges") %></span>
			</div>

		</h1>
		<div class="our-tasks hiddena flex flex-wrap justify-center">
			<% @house.in_progress_tasks.each do |task| %>
			<%= render "task", { task: task, status: "in_progress", kid: current_user.id, house: @house.id } %>
			<% end %>
		</div>
		<h1 class="text-xl text-shmutz-blue brand flex justify-between items-center">
			<div class="open-done-tasks flex ">
				<span class="chevron-done flex items-center rotate-chev"><i class="gg-push-chevron-down"></i></i> </span>
				<span><%= I18n.t("home.finished_challenges") %></span>
			</div>
		</h1>
		<div class="done-tasks flex flex-wrap justify-center">
			<% @house.done_tasks.each do |task| %>
			<%= render "task", { task: task, status: "done", kid: current_user.id, house: @house.id } %>
			<% end %>

		</div>


	</div>



<footer class="w-full h-24">

	<%= link_to '/choose_house' do  %>
	<div	 class="fixed bottom-0 left-0 bg-cta w-16 h-16 text-white rounded-full flex justify-center items-center m-3 shadow-lg">
		<%= image_tag "plus.svg", size: "35" %>
	</div>
	<% end %>
	<button class="open-modal invite-users fixed bottom-0 right-0 bg-cta w-16 h-16 text-white rounded-full flex justify-center items-center m-3 shadow-lg">
		<%= image_tag "user-plus.svg", size: "35" %>
	</button>
</footer>

<div class="modal-bg hidden w-screen fixed top-0 left-0 bg-black-opacity-50  z-40 h-screen close-modal">
	<div class="w-full h-full flex items-center close-modal justify-center">
		<div class="modal-body rounded-lg  h-3/4 bg-white w-full mx-3	hidden">
			<div class=" bg-gray-100 modal-header h-full  rounded-lg">
				<div class="flex justify-between">
					<h1 class="text-2xl m-3"><%= I18n.t("home.invite") %></h1>
					<i class="gg-close-o m-3 close-modal"></i>
				</div>
				<hr>
				<div class="modal-content ">
						<div class="house-sign-ups">
							<button  class="text-lg new_user_to_house flex justify-between w-full items-center px-3 text-right py-3" value="<%= @house.id %>" type="button" name="button"><%= I18n.t("home.new_users_to_my_home") %><%= @house.name %> <%= image_tag "copy.svg", size:"25" %></button>
							<button  class="text-lg existing_user_to_house flex justify-between w-full items-center px-3 text-right py-3"   value="<%= @house.id %>" type="button" name="button"><%= I18n.t("home.old_users_to_my_home") %><%= @house.name %> <%= image_tag "copy.svg", size:"25" %></button>
							<button  class="text-lg new_house_to_family flex justify-between w-full items-center px-3 text-right py-3" value="<%= @family.id %>" type="button" name="button"><%= I18n.t("home.new_house_to_my_family") %><%= @family.name %> <%= image_tag "copy.svg", size:"25" %></button>
							<button  class="text-lg new-family flex justify-between w-full items-center px-3 text-right py-3"   value="new-family" type="button" name="button"><%= I18n.t("home.share") %><%= image_tag "copy.svg", size:"25" %></button>
						</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$(".open-menu").click(function(event) {
		$(".menu").toggle("fast")
		event.stopPropagation(); // This is the preferred method.
		return false;        // This should not be used unless you do not want
	});
	$(document).click(function() {
		$(".menu").hide("fast")
	})
	$(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50) {
        $(".fixed-nav").addClass('shadow-lg');
    }
		else if(height < 50) {
        $(".fixed-nav").removeClass('shadow-lg');
    }

	});


	$(".open-modal").click(function(event) {

		$(".modal-bg").show()
		$(".modal-body").show("slow")
	});
	$(".close-modal").click(function(event) {
		if (event.target == this){
			$(".modal-body").hide('slow', function() {
				$(".modal-bg").hide()

			});
		}
	});

	$(".close-task-description").click(function(event) {
		if (event.target == this){
			$(".description").hide("fast")
			$(this).parents("div").children('.open-task-description').removeClass('task-shadow')
		}
	});
	$(".open_users_tasks").click(function(event) {
		$(this).parents(".container").children('.users_tasks').toggle("fast")
	});
	$(".open-house-sign-ups").click(function(event) {
		$(this).parents(".sign-ups-div").children('.house-sign-ups').toggle("fast")
	});

	$(".open-description").click(function(event) {
		$(this).parents(".container").children('.description').toggle();
	});

	$(".open-our-tasks").click(function(event) {
		$(".our-tasks").toggle("fast");
		$(".chevron-our").toggleClass('rotate-chev');
	});
	$(".open-done-tasks").click(function(event) {
		$(".done-tasks").toggle("fast");
		$(".chevron-done").toggleClass('rotate-chev');
	});
	// new user in existing house
	$(".new_user_to_house").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=u&h=" + $(this).val()
		share_sign_up(url)
	});
	// new house in existing family
	$(".new_house_to_family").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=h&f=" + $(this).val()
		share_sign_up(url)
	});
	// new
	// $(".sign_up_another_house").click(function(event) {
	// 	var url = "<%= root_url %>users/sign_up?t=ecumv&i=" + $(this).val()
	// 	share_sign_up(url)
	// });

	// existing user to existing house
	$(".existing_user_to_house").click(function(event) {
		var url = "<%= root_url %>add_user_to_house?h=" + $(this).val()
		share_sign_up(url)
	});
	$(".new-family").click(function(event) {
		var url = "<%= root_url %>users/sign_up"
		share_sign_up(url)
	});


	function share_sign_up(url) {
		/* Get the text field */
		$("body").append("<input id='temp' value='" + url + "'>")
		var copyText = document.getElementById("temp");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		alert("הקישור הועתק!");
		$("#temp").remove()
	}


			$('.description').hide();
			$(".open").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.close').show();
				$(this).parents(".container").children('.description').show("fast");
			});
			$(".close").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.open').show();
				$(this).parents(".container").children('.description').hide("fast");
			});

			$(".open-task-description").click(function(event) {
				if ($(this).parents(".task").children('.description').is(":visible")) {
					$(this).parents(".task").children('.description').hide("fast")
					$(this).toggleClass('task-shadow')
				}
				else {
					$(".description").hide()
					$(".open-task-description").removeClass('task-shadow')
					$(this).toggleClass('task-shadow')

					$(this).parents(".task").children('.description').toggle();
					$(this).parents(".task").children('.description').children('.description-body').hide();
					$(this).parents(".task").children('.description').children('.description-body').show("slow");

				}
			});

			$(".open-lang").click(function(event) {
				$(".lang").toggle("fast")
			});
})

</script>
