<%# render "sign_up_links" %>
<% @houses.each_with_index do |house, index|%>
	<h1 class="w-full text-2xl flex justify-between mt-2">
		<span class="mx-3 text-shmutz-blue brand"><%= house.name %></span>
		<br>
		<span class="font-bold w-1/3"><span class=" text-white bg-shmutz-blue px-2 rounded-lg"> <%= house.score %> <span class="text-xl font-normal">נק'</span></span></span>
		<div class="float-left w-1/5 flex justify-end ml-6">
			<button id="button-<%= house.id %>" name="house_id" value="<%= house.id %>" class="text-white open-modal w-12 h-12 rounded-full bg-red-400 self-end move-down flex justify-center" type="button" ><%= image_tag "plus.png", size:"25" %> </button>
		</div>
	</h1>
	<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5">
		<h1 class="text-xl text-shmutz-blue brand">המשימות שלנו</h1>
		<% house.in_progress_tasks.each do |task| %>
			<%= render "task", { task: task, status: "in_progress", kid: current_user.id, house: house.id } %>
		<% end %>


		<h1 class="text-xl text-shmutz-blue brand">משימות שסיימנו</h1>

		<% house.done_tasks.each do |task| %>
			<%= render "task", { task: task, status: "done", kid: current_user.id, house: house.id } %>
		<% end %>

		<div class="sign-ups-div mt-3">
			<div class="open-house-sign-ups flex justify-between bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded">
				<button class="" type="button" name="button">להזמין בני בית</button>
				<button class="" type="button" name="button"><i class="gg-push-chevron-down"></i> </button>
			</div>
			<div class="house-sign-ups hidden">
				<button  class="text-md sign_up_kid bg-shmutz-blue text-white my-1 px-1 rounded-lg" value="<%= house.id %>" type="button" name="button">הרשמת בני בית ל<%= house.name %></button> <br>
				<button  class="text-md sign_up_house_user text-right bg-shmutz-blue text-white my-1 px-1 rounded-lg"   value="<%= house.id %>" type="button" name="button">הרשמת בני בית רשומים במערכת ל<%= house.name %></button>
			</div>
		</div>
	</div>



<% end %>
<% @families.each do |family| %>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5 mt-3">
	<h1 class="text-xl text-shmutz-blue brand flex justify-between mb-3">
	<span><%= family.name %></span>
	<button name="family_id" value="<%= family.id %>" class="open-modal bg-shmutz-blue text-white rounded-lg px-2">לאתגר את כולם!</button>
	</h1>
	<% family.houses.where.not(id: @houses.ids).each do |house| %>
	<div class="flex justify-between">
		<span><%= house.name %></span>
		<button name="house_id" value="<%= house.id %>" class="open-modal bg-shmutz-blue text-white rounded-lg px-2">לאתגר אותם!</button>
	</div>
	<% end %>

</div>

<% end %>

<div class="modal-bg hidden w-screen fixed top-0 left-0 bg-black-opacity-50  z-40 h-screen close-modal">
	<div class="w-full h-full flex items-center close-modal justify-center">
		<div class="modal-body rounded-lg overflow-scroll overflow-y-scroll h-3/4 bg-white ltr ">
			<div class=" bg-gray-100 modal-header h-full">
				<div class="flex justify-between">
					<h1 class="text-2xl m-3">הוספת משימה</h1>
					<i class="gg-close-o m-3 close-modal"></i>
				</div>
				<div class="modal-content ">
					<button id="new-task" class=" bg-shmutz-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"></button>
					<button id="task-index" class=" bg-shmutz-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"></button>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".open-modal").click(function(event) {
		if ($(this).attr("name") == "house_id") {
			console.log($(this).attr("name"));
			house_id = $(this).val()
			$("#new-task").html("<a href='/tasks/new?house_id=" + house_id + "'>משימה חדשה</a>")
			$("#task-index").html("<a href='/tasks?house_id=" + house_id + "'>ממאגר המשימות</a>")
		}else {
			console.log($(this).attr("name"));
			family_id = $(this).val()
			$("#new-task").html("<a href='/tasks/new?family_id=" + family_id + "'>משימה חדשה</a>")
			$("#task-index").html("<a href='/tasks?family_id=" + family_id + "'>ממאגר המשימות</a>")
		}
		$(".modal-bg").show("slow")
	});
	$(".close-modal").click(function(event) {
		if (event.target == this){
			$(".modal-bg").hide("slow")
		}
	});
	$(".open_users_tasks").click(function(event) {
		$(this).parents(".container").children('.users_tasks').toggle("fast")
	});
	$(".open-house-sign-ups").click(function(event) {
		$(this).parents(".sign-ups-div").children('.house-sign-ups').toggle("fast")
	});

	$(".open-description").click(function(event) {
		$(this).parents(".container").children('.description').toggle();
	});

	$(".sign_up_user").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=jbhl&i=" + $(this).val()
		share_sign_up(url)
	});
	$(".sign_up_house").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=ecumv&i=" + $(this).val() + "&n=y"
		share_sign_up(url)
	});
	$(".sign_up_another_house").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=ecumv&i=" + $(this).val()
		share_sign_up(url)
	});
	$(".sign_up_house_user").click(function(event) {
		var url = "<%= root_url %>kid_guide?g=" + $(this).val()
		share_sign_up(url)
	});

	function share_sign_up(url) {
		/* Get the text field */
		$("body").append("<input id='temp' value='" + url + "'>")
		var copyText = document.getElementById("temp");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		alert("הקישור הועתק!");
		$("#temp").remove()
	}
})

</script>
