<% houseables.each_with_index do |houseable, index| %>
	<div class="flex justify-between border" id="houseable<%= houseable.class %><%= houseable.id %>">
		<% if index == 0 %>
			<span class="mx-5 text-2xl font-bold"><%= index + 1 %></span>
			<span class="mx-5 text-2xl font-bold"><%= houseable.name %></span>
			<span class="mx-5 text-2xl font-bold"><%= houseable.score %></span>
		<% else %>
			<span class="mx-5 text-xl"><%= index + 1 %></span>
			<span class="mx-5 text-xl"><%= houseable.name %></span>
			<span class="mx-5 text-xl"><%= houseable.score %></span>
		<% end %>
	</div>
	<% if houseable.class.name == "House" %>
		<% if current_user.houses.include?(houseable) %>
		  <script type="text/javascript">
				$("#houseable<%= houseable.class %><%= houseable.id %>").addClass('bg-my-houses')
		  </script>
		<% end %>
	<% elsif houseable.class.name == "Family" %>
		<% if current_user.families.include?(houseable) || current_user.houses.map{|g| g.family}.include?(houseable) %>
			<script type="text/javascript">
				$("#houseable<%= houseable.class %><%= houseable.id %>").addClass('bg-my-houses')
			</script>
		<% end %>
	<% elsif houseable.class.name == "Region" %>
		<% if current_user.families.include?(houseable) || current_user.houses.map{|g| g.region}.include?(houseable) ||  current_user.regions.include?(houseable) %>
			<script type="text/javascript">
				$("#houseable<%= houseable.class %><%= houseable.id %>").addClass('bg-my-houses')
			</script>
		<% end %>
	<% end %>
<% end %>
