<%# render "sign_up_links" %>

<nav class="flex flex-col justify-center">

	<div class="flex flex-wrap justify-between w-full self-end brand h-12 mt-2">
		<!-- <%= @house.name %> -->
		<div class="mx-2  flex flex-col justify-center">
			<%= image_tag "star.svg", size:"35" %>
				<span class=" text-whitebg-shmutz-bluepx-2rounded-lg text-center"><%= @house.score %></span>
		</div>
		<div class="mx-2">
			<button class="open-menu flex items-center px-3 py-2 aborder rounded text-grey sborder-gray-500 hover:text-gray-600 ahover:border-gray-600">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
	</div>
	<div class="text-shmutz-blue text-3xl w-full flex justify-center items-center flex-col font-bold">
		<span>שלום <%= current_user.name %>!</span>
		<span class="text-xl"><%= @house.name %></span>
	</div>
	<div class="menu hidden float-left absolute top-0 left-0 mt-8 pl-2 bg-white rounded-lg rounded-t-none">
		<ol>
			<% House.all.each do |house| %>
			<li><%= link_to house.name, root_path(house: house.id)  %></li>
			<% end %>
		</ol>
	</div>

</nav>


	<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5 mt-10">
		<h1 class="text-xl text-shmutz-blue brand flex justify-between items-center">
			<div class="open-our-tasks flex ">
				<span class="chevron flex items-center"><i class="gg-push-chevron-down"></i></i> </span>
				<span>המשימות שלנו</span>
			</div>
			<div class="float-left w-1/5 flex justify-end ml-6">
				<button id="button-<%= @house.id %>" name="@house_id" value="<%= @house.id %>" class="text-white open-modal w-12 h-12 rounded-full bg-red-400 self-enda move-downa flex justify-center" type="button" ><%= image_tag "plus.png", size:"25" %> </button>
			</div>
		</h1>
		<div class="our-tasks hiddena flex flex-wrap">
			<% @house.in_progress_tasks.each do |task| %>
			<%= render "task", { task: task, status: "in_progress", kid: current_user.id, house: @house.id } %>
			<% end %>
		</div>
		<h1 class="text-xl text-shmutz-blue brand">משימות שסיימנו</h1>
		<% @house.done_tasks.each do |task| %>
			<%= render "task", { task: task, status: "done", kid: current_user.id, house: @house.id } %>
		<% end %>

		<div class="sign-ups-div mt-3">
			<div class="open-house-sign-ups flex justify-between bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded">
				<button class="" type="button" name="button">להזמין בני בית</button>
				<button class="" type="button" name="button"><i class="gg-push-chevron-down"></i> </button>
			</div>
			<div class="house-sign-ups hidden">
				<button  class="text-md new_user_to_house bg-shmutz-blue text-white my-1 px-1 rounded-lg" value="<%= @house.id %>" type="button" name="button">הרשמת בני בית ל<%= @house.name %></button> <br>
				<button  class="text-md existing_user_to_house text-right bg-shmutz-blue text-white my-1 px-1 rounded-lg"   value="<%= @house.id %>" type="button" name="button">הרשמת בני בית רשומים במערכת ל<%= @house.name %></button>
			</div>
		</div>
	</div>
<!--
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 pb-5 mt-3">
	<h1 class="text-xl text-shmutz-blue brand flex justify-between mb-3">
	<span><%= @family.name %></span>
	<button name="family_id" value="<%= @family.id %>" class="open-modal bg-shmutz-blue text-white rounded-lg px-2">לאתגר את כולם!</button>
	</h1>
	<% @family.houses.where.not(id: @houses.ids).each do |house| %>
	<div class="flex justify-between my-2">
		<span><%= house.name %></span>
		<button name="house_id" value="<%= house.id %>" class="open-modal bg-shmutz-blue text-white rounded-lg px-2">לאתגר אותם!</button>
	</div>
	<% end %>
	<button  class="text-md new_house_to_family bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white px-4 border border-blue-500 hover:border-transparent rounded "   value="<%= @family.id %>" type="button" name="button">הזמנת בני משפחה ליצור בית ב<%= @family.name %></button>
</div> -->


<div class="modal-bg hidden w-screen fixed top-0 left-0 bg-black-opacity-50  z-40 h-screen close-modal">
	<div class="w-full h-full flex items-center close-modal justify-center">
		<div class="modal-body rounded-lg overflow-scroll overflow-y-scroll h-3/4 bg-white ltr ">
			<div class=" bg-gray-100 modal-header h-full">
				<div class="flex justify-between">
					<h1 class="text-2xl m-3">הוספת משימה</h1>
					<i class="gg-close-o m-3 close-modal"></i>
				</div>
				<div class="modal-content ">
					<button id="new-task" class=" bg-shmutz-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"></button>
					<button id="task-index" class=" bg-shmutz-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"></button>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".open-menu").click(function(event) {
		$(".menu").toggle("fast")
		event.stopPropagation(); // This is the preferred method.
		return false;        // This should not be used unless you do not want
	});
	$(document).click(function() {
		$(".menu").hide("fast")
	})
	$(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50) {
        $(".fixed-nav").addClass('shadow-lg');
    }
		else if(height < 50) {
        $(".fixed-nav").removeClass('shadow-lg');
    }

	});


	$(".open-modal").click(function(event) {
		if ($(this).attr("name") == "house_id") {
			console.log($(this).attr("name"));
			house_id = $(this).val()
			$("#new-task").html("<a href='/tasks/new?house_id=" + house_id + "'>משימה חדשה</a>")
			$("#task-index").html("<a href='/tasks?house_id=" + house_id + "'>ממאגר המשימות</a>")
		}else {
			console.log($(this).attr("name"));
			family_id = $(this).val()
			$("#new-task").html("<a href='/tasks/new?family_id=" + family_id + "'>משימה חדשה</a>")
			$("#task-index").html("<a href='/tasks?family_id=" + family_id + "'>ממאגר המשימות</a>")
		}
		$(".modal-bg").show("slow")
	});
	$(".close-modal").click(function(event) {
		if (event.target == this){
			$(".modal-bg").hide("slow")
		}
	});
	$(".close-task-description").click(function(event) {
		if (event.target == this){
			$(".description").hide("fast")
		}
	});
	$(".open_users_tasks").click(function(event) {
		$(this).parents(".container").children('.users_tasks').toggle("fast")
	});
	$(".open-house-sign-ups").click(function(event) {
		$(this).parents(".sign-ups-div").children('.house-sign-ups').toggle("fast")
	});

	$(".open-description").click(function(event) {
		$(this).parents(".container").children('.description').toggle();
	});

	$(".open-our-tasks").click(function(event) {
		$(".our-tasks").toggle("fast");
		$(".chevron").toggleClass('rotate-chev');
	});
	// new user in existing house
	$(".new_user_to_house").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=u&h=" + $(this).val()
		share_sign_up(url)
	});
	// new house in existing family
	$(".new_house_to_family").click(function(event) {
		var url = "<%= root_url %>users/sign_up?t=h&f=" + $(this).val()
		share_sign_up(url)
	});
	// new
	// $(".sign_up_another_house").click(function(event) {
	// 	var url = "<%= root_url %>users/sign_up?t=ecumv&i=" + $(this).val()
	// 	share_sign_up(url)
	// });

	// existing user to existing house
	$(".existing_user_to_house").click(function(event) {
		var url = "<%= root_url %>add_user_to_house?h=" + $(this).val()
		share_sign_up(url)
	});

	function share_sign_up(url) {
		/* Get the text field */
		$("body").append("<input id='temp' value='" + url + "'>")
		var copyText = document.getElementById("temp");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/

		/* Copy the text inside the text field */
		document.execCommand("copy");

		/* Alert the copied text */
		alert("הקישור הועתק!");
		$("#temp").remove()
	}


			$('.description').hide();
			$(".open").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.close').show();
				$(this).parents(".container").children('.description').show("fast");
			});
			$(".close").click(function(event) {
				$(this).hide()
				$(this).parents("span").children('.open').show();
				$(this).parents(".container").children('.description').hide("fast");
			});

			$(".open-task-description").click(function(event) {
				if ($(this).parents(".task").children('.description').is(":visible")) {
					$(this).parents(".task").children('.description').hide("fast")
					$(this).toggleClass('task-shadow')
				}
				else {
					$(".description").hide()
					$(".open-task-description").removeClass('task-shadow')
					$(this).toggleClass('task-shadow')
					console.log($(this).offset().left)
					var half_window = $(window).width()/2
					var element_left = $(this).offset().left
					console.log($(window).width());
					if (element_left > half_window) {
						$(this).parents(".task").children('.description').addClass('transform-left')
					}
					else {
						$(this).parents(".task").children('.description').addClass('transform-right')

					}
					$(this).parents(".task").children('.description').toggle("fast");

				}
			});



})

</script>
