
<%= @a %>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl">המשימות שלי</h1>
	<% @my_tasks.each do |task| %>
		<%= render "task", { task: task, status: "in_progress", kid: current_user.id } %>
	<% end %>
</div>
<br>
<%= @group_score %>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl">משימות תנועתיות</h1>
	<% @random_tasks.each do |task| %>
		<%= render "task", { task: task, status: "random", kid: current_user.id } %>
	<% end %>
</div>
<br>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4">
	<h1 class="text-xl">משימות שסיימתי</h1>

	<% @done_tasks.each do |task| %>
		<%= render "task", { task: task, status: "done", kid: current_user.id } %>
	<% end %>
	<% @approved_tasks.each do |task| %>
		<%= render "task", { task: task, status: "approved", kid: current_user.id } %>
	<% end %>
</div>
