<button  id="open_links" class="text-md mb-2 bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8">
	קישורים להרשמה</button>
	<div id="links" class="hidden">
		<% case current_user.role %>
		<% when "Branch" %>
		קישורים להרשמת מדריכות
		<% @branches.each do |branch| %>
		<li><button  class="text-md mb-2 sign_up_group bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= branch.id %>">
			מדריכות מ<%= branch.name %></button></li>
			<% end %>
			<% when "Region" %>
			קישורים להרשמת מדריכות
			<% @branches.each do |branch| %>
			<li><button  class="text-md mb-2 sign_up_group bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= branch.id %>">
				מדריכות מ<%= branch.name %></button></li>
				<% end %>
				קישורים להרשמת רכזות קנים
				<% @regions.each do |region| %>
				<li><button  class="text-md mb-2 sign_up_branch bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= region.id %>">
					רכזות קנים מ<%= region.name %>
				</button></li>
				<% end %>
				<% when "Movement" %>
				קישורים להרשמת מדריכות
				<% @branches.each do |branch| %>
				<li><button  class="text-md mb-2 sign_up_group bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= branch.id %>">
					מדריכות מ<%= branch.name %>
				</button></li>
				<% end %>
				קישורים להרשמת רכזות קנים
				<% @regions.each do |region| %>
				<li><button  class="text-md mb-2 sign_up_branch bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= region.id %>">
					רכזות קנים מ<%= region.name %>
				</button></li>
				<% end %>
				קישורים להרשמת רכזות אזורים
				<% @movements.each do |movement| %>
				<li><button  class="text-md mb-2 sign_up_region bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= movement.id %>">
					רכזות אזורים מ<%= movement.name %>
				</button></li>
				<% end %>
				<% when "Admin" %>
				קישורים להרשמת מדריכות
				<% @branches.each do |branch| %>
				<li><button  class="text-md mb-2 sign_up_group bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= branch.id %>">
					מדריכות מ<%= branch.name %>
				</button></li>
				<% end %>
				קישורים להרשמת רכזות קנים
				<% @regions.each do |region| %>
				<li><button  class="text-md mb-2 sign_up_branch bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= region.id %>">
					רכזות קנים מ<%= region.name %>
				</button></li>
				<% end %>
				קישורים להרשמת רכזות אזורים
				<% @movements.each do |movement| %>
				<li><button  class="text-md mb-2 sign_up_region bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= movement.id %>">
					רכזות אזורים מ<%= movement.name %>
				</button></li>
				<li><button  class="text-md mb-2 sign_up_movement bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white px-4 border border-blue-500 hover:border-transparent rounded h-8" value="<%= movement.id %>">
					ליצירת תנועה חדשה
				</button></li>
				<% end %>
				<% end %>

	</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#open_links").click(function(event) {
			$("#links").toggle()
		});
	});
</script>
