

	<% case status %>
	<% when "in_progress" %>
	<div class="container w-full py-1 shadow my-2 rounded-lg z-50 bg-blue-100" >
		<div class="w-full flex justify-between">
			<span class="name mx-3 text-lg"><%= task.name %></span>
			<span class="mx-3 w-1/3 flex justify-end" ><i class="gg-push-chevron-down open"  ></i><i class="gg-chevron-up close hidden" ></i></span>
		</div>
		<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
		<div style="display: flex" class="description pl-8 mr-3 hidden justify-between w-full" >
			<span><%= task.description %></span>
			<span class="mx-3 my-3 flex justify-center">
				<%= link_to change_progress_path(task_id: task.id, remove: "remove"), class: "ml-2" ,data: {confirm: "להסיר את המשימה?"} do %>
				<span class=""><i class="gg-close text-red-500" ></i></span>
				<% end %>
				<%= link_to change_progress_path(task_id: task.id), data: {confirm: "הראת למדריכים שסיימת את המשימה?"} do %>
				<span class=""><i class="gg-check-o" ></i></span>
				<% end %>
			</span>
		</div>
	</div>



	<% when "done" %>
	<div class="container w-full py-1 shadow my-2 rounded-lg z-50 bg-gray-200 text-gray-700" >
	<div class="w-full flex justify-between">
		<span class="name mx-3 text-lg line-through"><%= task.name %></span>
		<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
	</div>
</div>


<% when "general", "random" %>
	<div class="container w-full py-1 shadow my-2 rounded-lg z-50 bg-blue-100" >
		<div class="w-full flex justify-between">
			<span class="name mx-3 text-lg"><%= task.name %></span>
			<span class="mx-3 w-1/3 flex justify-end" ><i class="gg-push-chevron-down open"  ></i><i class="gg-chevron-up close hidden" ></i></span>
		</div>
		<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
		<div style="display: flex" class="description pl-8 mr-3 hidden justify-between w-full" >
			<span><%= task.description %></span>
			<span class="mx-3 my-3 flex justify-center">
				<% if current_user.role != "Kid" %>
					<%= link_to assign_task_path(house: house, task: task.id),data: {confirm: "מוכנים לעוד משימה?"}  do %>
						<span class="mx-6"><i class="" ><%= image_tag "add-task.svg", size:"35" %></i></span>
					<% end %>
				<% else %>
					<%= link_to assign_task_path( task: task.id),data: {confirm: "מוכנים לעוד משימה?"}  do %>
						<span class="mx-6"><i class="" ><%= image_tag "add-task.svg", size:"35" %></i></span>
					<% end %>
				<% end %>
			</span>
		</div>
	</div>
<% end %>


<script type="text/javascript">

	$(document).ready(function() {
		$('.description').hide();
		$(".open").click(function(event) {
			$(this).hide()
			$(this).parents("span").children('.close').show();
			$(this).parents(".container").children('.description').show("fast");
		});
		$(".close").click(function(event) {
			$(this).hide()
			$(this).parents("span").children('.open').show();
			$(this).parents(".container").children('.description').hide("fast");
		});
	});

</script>
