<div class="container w-full py-1 shadow my-2 rounded-lg" id="con<%= task.id %>">
	<div class="w-full flex justify-between">
		<span class="name mx-3 text-lg" id="name<%= task.id %>"><%= task.name %></span>
		<i class="gg-info open-description"></i>
		<% if status == "to_approve" %>
			<span class="mx-3 text-lg">שם הילד</span>
		<% end %>
		<span class="mx-3 w-1/3 flex justify-end"><i class="" id="i<%= task.id %>"></i></span>
		<%# case status %>
			<%# when "in_progress", "random" %>
			<%# when "done" %>
				<!-- <span class="mx-3 text-lg line-through"><%#task.name %></span> -->
				<!-- <span class="mx-3 w-1/3 flex justify-end"><i class="gg-time"></i></span> -->
			<%# when "approved" %>
				<!-- <span class="mx-3 text-lg line-through"><%# task.name %></span> -->
				<!-- <span class="mx-3 w-1/3 flex justify-end"><i class="gg-check-o"></i></span> -->
		<%# end %>
	</div>
	<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
	<div class="description mx-3 hidden">
		<%= task.description %>
	</div>
</div>

<script type="text/javascript">
	<% case status %>
	<% when "in_progress", "random", "to_approve" %>
		$("#i<%= task.id %>").addClass('gg-check-o')
		$("#con<%= task.id %>").addClass('bg-blue-100')
	<% when "done" %>
		$("#i<%= task.id %>").addClass('gg-time')
		$("#con<%= task.id %>").addClass('bg-gray-200')
		$("name<%= task.id %>").addClass('line-through')
	<% when "approved" %>
		$("#con<%= task.id %>").addClass('bg-gray-200')
		$("name<%= task.id %>").addClass('line-through')
	<% when "general" %>
		$("#i<%= task.id %>").addClass('gg-add')
		$("#con<%= task.id %>").addClass('bg-blue-100')
	<% end %>
	$(document).ready(function() {
		$(".open-description").click(function(event) {
			$(this).parents(".container").children('.description').toggle()
		});
	});

</script>
