

	<% case status %>
	<% when "in_progress" %>
	<!-- <div class="container w-full py-1 shadow my-2 rounded-lg z-50 bg-blue-100" >
		<div class="w-full flex justify-between">
			<span class="name mx-3 text-lg"><%= task.name %></span>
			<span class="mx-3 w-1/3 flex justify-end" ><i class="gg-push-chevron-down open"  ></i><i class="gg-chevron-up close hidden" ></i></span>
		</div>
		<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
		<div style="display: flex" class="description pl-8 mr-3 hidden justify-between w-full" >
			<span><%= task.description %></span>
			<span class="mx-3 my-3 flex justify-center">
				<%= link_to change_progress_path(task_id: task.id, remove: "remove", house: house), class: "ml-2" ,data: {confirm: "להסיר את המשימה?"} do %>
				<span class=""><i class="gg-close text-red-500" ></i></span>
				<% end %>
				<%= link_to change_progress_path(task_id: task.id, house: house), data: {confirm: "סיימתם את המשימה?"} do %>
				<span class=""><i class="gg-check-o" ></i></span>
				<% end %>
			</span>
		</div>
	</div> -->
	<div class="task relative">
		<div class="task-in-progress h-24 w-24  bg-green-400 m-6 rounded-full flex flex-col relative open-task-description">
			<div class="flex justify-center items-center h-full text-center">
				<span class="mx-3 text-lg "><%= task.name %></span>
			</div>
			<span class="star w-10 h-10 star-transform absolute bottom-0 right-0 justify-center flex items-center"><%= task.score %></span>
		</div>
		<!-- <div style="display: flex" class="description w-screen h-screen fixed justify-center hidden z-50 bg-black-opacity-50 top-0 left-0 items-center close-task-description"> -->
			<div class="description w-32 h-32  bg-red-400  hiddena top-0 rounded-lg absolute z-50">
				<div style="display: flex" class=" pl-8 mr-3 justify-between w-full rounded-lg" >
					<span><%= task.description %></span>
					<span class="mx-3 my-3 flex justify-center">
						<%= link_to change_progress_path(task_id: task.id, remove: "remove", house: house), class: "ml-2" ,data: {confirm: "להסיר את המשימה?"} do %>
						<span class=""><i class="gg-close text-red-500" ></i></span>
						<% end %>
						<%= link_to change_progress_path(task_id: task.id, house: house), data: {confirm: "סיימתם את המשימה?"} do %>
						<span class=""><i class="gg-check-o" ></i></span>
						<% end %>
					</span>
				</div>
			</div>

		<!-- </div> -->
	</div>


	<% when "done" %>
	<div class="container w-full py-1 shadow my-2 rounded-lg z-50 bg-gray-200 text-gray-700" >
	<div class="w-full flex justify-between">
		<span class="name mx-3 text-lg line-through"><%= task.name %></span>
		<span class="mx-3 aw-1/3"><%= task.score %> נקודות</span>
	</div>
</div>


<% end %>
<script type="text/javascript">


</script>
