<div class="lg:px-10">

<div class="fixed top-0 left-0 w-full h-16  bg-header shadow-lg z-50">
	<div class="w-full flex justify-around h-full items-center text-xl atext-white">
		<span><%= I18n.t("home.choose_home") %></span>
		<b class="text-2xl"><%= I18n.t("home.choose_challenge") %></b>
	</div>

</div>
<div class="flex mt-24 justify-center items-center">
	<div  class="task-new outline-none size-9rem bg-new-task rounded-full flex flex-col relative open-task-description">
		<div class="flex justify-center items-center h-full text-center w-full">
			<span class="mx-3 text-lg "><%= I18n.t("home.new_challenge") %></span>
		</div>
	</div>

</div>
<div class="mb-24 flex flex-wrap justify-center">
	<% @tasks.each do |task| %>
		<%= render "task", { task: task, status: "general", kid: current_user.id, house: @house } %>
	<!-- <button value="<%= task.id %>" class="task outline-none h-32 w-32 bg-task-green m-6 rounded-full flex flex-col relative open-task-description">
		<div class="flex justify-center items-center h-full text-center w-32">
			<span class="mx-3 text-lg text-center w-full"><%= task.name %></span>
			<span class="star w-16 h-16 star-transform absolute bottom-0 right-0 justify-center flex items-center"><%= task.score %></span>
		</div>
	</button> -->
	<% end %>
</div>
</div>

<div class="actions flex fixed bottom-0 w-full rounded-lg font-bold h-16 shadow-up">
	<%= link_to "/choose_house", class:"w-1/3 bg-gray-300 justify-center flex items-center text-xl" do  %>
		<%= I18n.t("home.back") %>
	<% end %>
	<div class="w-2/3 bg-gray-400 text-gray-700 next justify-center flex items-center text-xl" ><%= I18n.t("home.next") %></div>
	<a class="w-2/3 bg-cta text-black next-active justify-center flex items-center text-xl hidden" href=""><%= I18n.t("home.next") %></a>
	<div id="to-change" class="hidden"><%= I18n.t("home.done") %></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$(".description").hide()
	$(".close-task-description").click(function(event) {
		if (event.target == this){
			$(".description").hide("fast")
			// $(this).parents("div").children('.open-task-description').removeClass('task-shadow')
		}
	});
	$(".open-task-description").click(function(event) {
				if ($(this).parents(".task").children('.description').is(":visible")) {
					$(this).parents(".task").children('.description').hide("fast")
					$(this).toggleClass('task-shadow')
				}
				else {
					$(".description").hide()
					$(".open-task-description").removeClass('task-shadow')
					$(this).toggleClass('task-shadow')

					$(this).parents(".task").children('.description').toggle();
					$(this).parents(".task").children('.description').children('.description-body').hide();
					$(this).parents(".task").children('.description').children('.description-body').show("slow");

				}
			});



	var chosen_task
	var house = '<%= params[:house_id] %>'
	var family = '<%= params[:family_id] %>'

	$(".task-general").click(function(event) {
		chosen_task = $(this).val()
		$(".next").replaceWith($(".next-active"))
		$(".next-active").removeClass('hidden')
		$(".next-active").html("<%= I18n.t("home.done") %>")

		// $(".next-active").html(" <span class='rotate-if-not-he img-span check-span'></span>")
		if (family == "") {
			$(".next-active").attr('href', '/assign_task?task=' + chosen_task + "&house=" + house)
		}else {
			$(".next-active").attr('href', '/assign_task?task=' + chosen_task + "&family=" + family)
		}
	});
	$(".task-new").click(function(event) {
		$(".next").replaceWith($(".next-active"))
		$(".next-active").removeClass('hidden')
		$(".next-active").html("<%= I18n.t("home.next") %>")
		// $(".next-active").html(" <span  class='rotate-if-not-he img-span forward-span'></span>")
		if ("<%= current_user.locale %>" != "he") {
			$(".rotate-if-not-he").addClass('rotate-180')
		}
		if (family == "") {
			$(".next-active").attr('href', '/tasks/new?&house_id=' + house);
		}else {
			$(".next-active").attr('href', '/tasks/new?&family_id=' + family);
		}

	});
	if ("<%= current_user.locale %>" != "he" && "<%= current_user.locale %>" != "") {
		$(".rotate-if-not-he").addClass('rotate-180')
	}
});
</script>
