
<% if params[:all] == "true" %>
	<button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" type="button" name="button"><%= link_to "תוצאות מקומיות", url_for(all: "false") %></button>
<% else %>
	<button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" type="button" name="button"><%= link_to "תוצאות ארציות", url_for(all: "true") %></button>
<% end %>
<h1 class="text-3xl w-full text-center">אזורים</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "groupable_scores", {groupables: @regions} %>
</div>

<h1 class="text-3xl w-full text-center">קנים</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "groupable_scores", {groupables: @branches} %>
</div>

<h1 class="text-3xl w-full text-center">קבוצות</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "groupable_scores", {groupables: @groups} %>
</div>
