
<% if params[:all] == "true" %>
	<button class="bg-shmutz-blue hover:bg-blue-700 text-white py-2 px-4 rounded" type="button" name="button"><%= link_to "תוצאות מקומיות", url_for(all: "false") %></button>
<% else %>
	<button class="bg-shmutz-blue hover:bg-blue-700 text-white py-2 px-4 rounded" type="button" name="button"><%= link_to "תוצאות ארציות", url_for(all: "true") %></button>
<% end %>
<h1 class="text-3xl w-full text-center">אזורים</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "houseable_scores", {houseables: @regions} unless @regions.nil? %>
</div>

<h1 class="text-3xl w-full text-center">בתים\קנים</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "houseable_scores", {houseables: @families} unless @families.nil? %>
</div>

<h1 class="text-3xl w-full text-center">קבוצות</h1>
<div class="rounded-lg bg-gray-100 shadow px-4 py-4 mb-3">
	<%= render "houseable_scores", {houseables: @houses} unless @houses.nil? %>
</div>
