<%= image_tag "Pinkas01.jpg", loading: "lazy" %>
<h1 class="text-3xl font-semibold mt-5">מה זה פנקסי?</h1>
<p class="text-2xl"><strong>פִּנְקָסִי</strong> היה ספרון שהוענק לכל חבר וחברה בשומר הצעיר בשנותיה הראשונות.
הוא כלל את עיקרי התנועה, הסיסמאות והאמרות הנהוגות בה וסמליה, פרקי היסטוריה, לקט שירים, וטבלאות סדר יום.
מהדורתו הראשונה ראתה אור בורשה שבפולין, בשנת תרע"ח 1918, מיד לאחר גמר מלחמת העולם הראשונה.
בהמשך ראו אור מהדורות נוספות, שבהן שונו תכני הספרון, בגלל השינויים החברתיים והרעיוניים בתנועה ובסביבתה.</p>
<h1 class="text-3xl font-semibold mt-5">מה היה בפנקסי?</h1>
<ol class="text-2xl list-decimal list-inside">
	<li class="">עקרונות התנועה:
	<ul class="mr-8 list-disc list-inside">
		<li>תעודת השומר הצעיר</li>
		<li>ברכתנו היא חזק ואמץ</li>
		<li>דברות השומר</li>
	</ul>
	</li>
	<li class="">היסטוריית התנועה והעם היהודי</li>
	<li class="">מקורות רעיוניים:
	 <ul class="mr-8 list-disc list-inside">
		 <li>ציטוטי חז"ל</li>
		 <li>שירים</li>
	 </ul>
	</li>
	<li class="">טבלאות:
		<ul class="mr-8 list-disc list-inside">
			<li>עשרת הדיברות לשמירה על הבריאות</li>
			<li>מה עשית למען עמך וארציך</li>
			<li>אני</li>
			<li>אחי השומרים</li>
			<li>מה קראתי. מה עלי לקרוא.</li>
			<li>האספות והטיולים שהשתתפתי בהם</li>
			<li>מכשירי</li>
			<li>מעשי ידי</li>
		</ul>
	</li>
</ul>
<h1 class="text-3xl font-semibold mt-5">תמונות</h1>
	<%= image_tag "Pinkas02.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas03.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas04.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas05.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas44.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas45.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas48.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas49.jpg", class:"mb-2" ,loading: "lazy" %>
	<%= image_tag "Pinkas51.jpg", class:"mb-2" ,loading: "lazy" %>
<h1 class="text-3xl font-semibold mt-5">לקריאה נוספת</h1>
<ul class="list-disc list-inside">
	<li><%= link_to "פנקסי בויקיפדיה", "https://he.m.wikipedia.org/wiki/%D7%A4%D7%A0%D7%A7%D7%A1%D7%99", class:"link underline" %> </li>
	<li><%= link_to "פנקסי סרוק באתר ביתמונה", "https://www.bitmuna.com/%D7%A4%D7%A0%D7%A7%D7%A1%D7%99/nggallery/%D7%A4%D7%A0%D7%A7%D7%A1-%D7%94%D7%A9%D7%95%D7%9E%D7%A8-%D7%94%D7%A6%D7%A2%D7%99%D7%A8/%D7%A4%D7%A0%D7%A7%D7%A1-%D7%97%D7%91%D7%A8-%D7%AA%D7%A0%D7%95%D7%A2%D7%AA-%D7%94%D7%A9%D7%95%D7%9E%D7%A8-%D7%94%D7%A6%D7%A2%D7%99%D7%A8/", class:"link underline" %></li>
</ul>
