<nav class="flex items-start mb-3 h-32 pb-32 justify-between flex-wrap bg-shmutz-blue py-3 lg:px-10 px-3 text-gray-700 border-b border-gray-400">
	<div class="fixed-nav bg-shmutz-blue fixed top-0 right-0 w-full flex justify-between h-16 z-40">
		<div class="flex items-center flex-no-shrink mr-2 w-1/2 lg:w-1/12 bg-shmutz-blue">
			<%= link_to root_path, class:"link text-3xl tracking-tight font-semibolda text-white flex item-end" do %>
				<%= image_tag "white.png", size: "45" %>
				<span class="brand mx-3">פנקסי</span>
			<% end %>
		</div>
		<div class="button block lg:hidden w-1/2 flex justify-end">
			<button class="flex items-center px-3 py-2 aborder rounded text-grey sborder-gray-500 hover:text-gray-600 ahover:border-gray-600">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
	</div>
	<div class="menu z-50 lg:shadow-none shadow-lg-down w-1/2 block lg:flex-1 lg:flex lg:items-center items-end text-center lg:text-left hidden lg:block fixed top-0 left-0 lg:mt-0 mt-12 p-2 rounded-lg rounded-t-none	bg-shmutz-blue lg:h-16 ">
		<% if current_user.admin? %>
			<div class="lg:flex-grow">
				<%= link_to "משפחות", families_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
			</div>
			<div class="lg:flex-grow">
				<%= link_to "בתים", houses_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
			</div>
		<% end %>
		<!-- <div class="lg:flex-grow">
		<%# link_to "משתמשים", users_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
	</div> -->
	<!-- <div class="lg:flex-grow">
		<%= link_to "מה זה פנקסי?", "pinkasi", class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
	</div> -->
	<div class="lg:flex-grow">
		<%= link_to "מאגר המשימות", tasks_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
	</div>
	<!-- <div class="lg:flex-grow">
		<%= link_to "להציע משימה חדשה", new_task_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
	</div> -->
	<div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end items-center">
		<% if user_signed_in? %>
		<%= link_to "התנתקות", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
		<% else %>
		<%= link_to "כניסה", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
		<%= link_to "הרשמה", new_user_registration_path, class:"btn btn-default block" %>
		<% end %>
	</div>
	<div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end items-center">
		<%= error_btn %>
		</div>
</div>

	<div class="flex justify-between w-full self-end brand">
		<div class="text-white self-end text-xl mt-16">
			שלום <%= current_user.name %>!
		</div>
	</div>
</nav>

<script type="text/javascript">
$(document).ready(function() {
	$(".button").click(function(event) {
		$(".menu").toggle("fast")
		event.stopPropagation(); // This is the preferred method.
		return false;        // This should not be used unless you do not want
		// $("nav").toggleClass('h-32');
	});
	// if ($(".menu").is(":visible") ) {
		$(document).click(function() {
			// $(".menu").hide("fast")
		})
	// }
	$(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50) {
        $(".fixed-nav").addClass('shadow-lg');
    }
		else if(height < 50) {
        $(".fixed-nav").removeClass('shadow-lg');
    }

	});

});
</script>
