<nav class="flex items-start mb-3 h-32 justify-between flex-wrap bg-blue-500 py-3 lg:px-10 px-3 text-gray-700 border-b border-gray-400">
	<div class="fixed-nav bg-blue-500 fixed top-0 right-0 w-full flex justify-between h-16 z-50">
		<div class="flex items-center flex-no-shrink mr-2 w-1/2 lg:w-1/12 bg-blue-500">
			<%= link_to root_path, class:"link text-3xl tracking-tight font-semibolda text-white flex item-end" do %>
				<%= image_tag "white.png", size: "45" %>
				<span class="brand mx-3">פנקסי</span>
			<% end %>
		</div>
		<div class="button block lg:hidden w-1/2 flex justify-end">
			<button class="flex items-center px-3 py-2 aborder rounded text-grey sborder-gray-500 hover:text-gray-600 ahover:border-gray-600">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
	</div>
	<div class="menu z-50 shadow-lg-down w-1/2 block lg:flex-1 lg:flex items-end text-center lg:text-left hidden fixed top-0 left-0 mt-12 p-2 rounded-lg rounded-t-none	bg-blue-500">
		<%# if current_user.role_before_type_cast > 4 %>
		<div class="lg:flex-grow">
			<%= link_to "תנועות", movements_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
		</div>
		<%# end %>
		<div class="lg:flex-grow">
			<%= link_to "אזורים", regions_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
		</div>
		<div class="lg:flex-grow">
			<%= link_to "קנים", branches_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
		</div>
		<div class="lg:flex-grow">
			<%= link_to "קבוצות", groups_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
		</div>
		<!-- <div class="lg:flex-grow">
		<%# link_to "משתמשים", users_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
	</div> -->
	<div class="lg:flex-grow">
		<%= link_to "משימות", tasks_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link text-white" %>
	</div>
	<div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end items-center">
		<% if user_signed_in? %>
		<%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
		<% else %>
		<%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
		<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
		<% end %>
	</div>
</div>

	<div class="flex justify-between w-full self-end">
		<div class="text-white self-end text-xl mt-10">
			שלום <%= current_user.name %>!
		</div>
		<div class="text-white flex text-xl mt-10 ml-10a w-1/2">
			<% if current_user.role == "Kid" %>
				<strong><%= current_user.groups.first.score if current_user.groups.exist? %> נק'</strong>
			<% end %>
		</div>
	</div>

</nav>

<script type="text/javascript">
$(document).ready(function() {
	$(".button").click(function(event) {
		$(".menu").toggle("fast")
		// $("nav").toggleClass('h-32');
	});
	$(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50) {
        $(".fixed-nav").addClass('shadow-lg');
    }
		if(height < 50) {
        $(".fixed-nav").removeClass('shadow-lg');
    }
});
});
</script>
