<!DOCTYPE html>
<html lang="he">
  <head>
		<%= render 'application/favicon' %>
    <title>קשל"פ - קשר לפסח</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="קשל''פ - קשר לפסח" />
    <meta property="og:description" content="משחק האתגרים הגדול של פסח! בפסח הזה ניצור חוויות משותפות" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('logo.png') %>" />

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.js"></script>
  </head>

 <body class="bg-gray-200">


    <main class="lg:px-10 px-2a bg-gray-200">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
<% if user_signed_in? && current_user.lang == "he"  %>
	<script type="text/javascript">
		$("*").addClass('rtl')
		// $("*").addClass('ltr')
  </script>
<% else %>
	<script type="text/javascript">
		$("*").addClass('ltr')
		// $("*").addClass('ltr')
  </script>
<% end %>
</html>
