<!DOCTYPE html>
<html>
  <head>
		<%= render 'application/favicon' %>
    <title>פנקסי 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="פנקסי 2020" />
    <meta property="og:description" content="משחק המשימות הגדול של התנועה!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('blue.png') %>" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Miriam+Libre|Suez+One&display=swap" rel="stylesheet">
  </head>

 <body class="bg-gray-200">

  <!-- <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %> -->

    <header class="pb-4 bg-gray-200">
      <%= render 'layouts/navbar' unless controller_name == "registrations" || controller_name == "sessions" %>
    </header>

    <main class="lg:px-10 px-2 bg-gray-200">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
		<footer class="w-full h-24">
			<%= render 'layouts/footer' unless controller_name == "registrations" || controller_name == "sessions" %>
		</footer>
  </body>
</html>
