<!DOCTYPE html>
<html>
  <head>
    <title>פנקסי 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="פנקסי 2020" />
    <meta property="og:description" content="התחרות הגדולה של התנועה יצאה לדרך!" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="<%# image_url('fenix.png') %>" /> -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>

  </head>

 <body class="bg-white">

  <!-- <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %> -->

    <header class="pb-4 bg-gray-200">
      <%= render 'layouts/navbar' unless controller_name == "registrations" || controller_name == "sessions" %>
    </header>

    <main class="lg:px-10 px-2 bg-gray-200">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
